# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
vignettes/*.R

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user

# Silence build of pkgdown update
docs/*.
pkgdown/favicon/apple-touch-icon-120x120.png
pkgdown/favicon/apple-touch-icon-152x152.png
pkgdown/favicon/apple-touch-icon-180x180.png
pkgdown/favicon/apple-touch-icon-60x60.png
pkgdown/favicon/apple-touch-icon-76x76.png
pkgdown/favicon/apple-touch-icon.png
pkgdown/favicon/favicon-16x16.png
pkgdown/favicon/favicon-32x32.png
pkgdown/favicon/favicon.ico
