exportPattern("^[[:alpha:]]+")
importFrom("stats", "rpois")
importFrom("stats", "filter", "glm", "rbinom")
importFrom("bayesDP", "bdpbinomial")
importFrom("dplyr", "mutate", "filter", "group_by", "bind_rows", "select", "n")
importFrom("magrittr", "%>%")
